In [6]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/gapminder_unfiltered.csv')
df

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
3308     Zimbabwe    Africa  1987   62.351   9216418  706.157306
3309     Zimbabwe    Africa  1992   60.377  10704340  693.420786
3310     Zimbabwe    Africa  1997   46.809  11404948  792.449960
3311     Zimbabwe    Africa  2002   39.989  11926563  672.038623
3312     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[3313 rows x 6 columns]

In [ ]:
df.country.unique()

In [ ]:
[{'value':value,'label':value} for value in df.country.unique()]

In [8]:
dff = df[df.country == 'Taiwan']
#display(dff)
pop_diff = dff[['country', 'year', 'pop']]
#display(pop_diff)
pop_diff.to_dict('records')

[{'country': 'Taiwan', 'year': 1950, 'pop': 7981454},
 {'country': 'Taiwan', 'year': 1951, 'pop': 8251326},
 {'country': 'Taiwan', 'year': 1952, 'pop': 8550362},
 {'country': 'Taiwan', 'year': 1953, 'pop': 8849962},
 {'country': 'Taiwan', 'year': 1954, 'pop': 9159966},
 {'country': 'Taiwan', 'year': 1955, 'pop': 9485858},
 {'country': 'Taiwan', 'year': 1956, 'pop': 9825346},
 {'country': 'Taiwan', 'year': 1957, 'pop': 10164215},
 {'country': 'Taiwan', 'year': 1958, 'pop': 10500314},
 {'country': 'Taiwan', 'year': 1959, 'pop': 10852996},
 {'country': 'Taiwan', 'year': 1960, 'pop': 11209160},
 {'country': 'Taiwan', 'year': 1961, 'pop': 11563348},
 {'country': 'Taiwan', 'year': 1962, 'pop': 11918938},
 {'country': 'Taiwan', 'year': 1963, 'pop': 12276610},
 {'country': 'Taiwan', 'year': 1964, 'pop': 12631480},
 {'country': 'Taiwan', 'year': 1965, 'pop': 12977635},
 {'country': 'Taiwan', 'year': 1966, 'pop': 13321002},
 {'country': 'Taiwan', 'year': 1967, 'pop': 13648692},
 {'country': 'Taiwan', 'year': 1968, 'pop': 13962358},
 {'country': 'Taiwan', 'year': 1969, 'pop': 14282297},
 {'country': 'Taiwan', 'year': 1970, 'pop': 14598316},
 {'country': 'Taiwan', 'year': 1971, 'pop': 14918496},
 {'country': 'Taiwan', 'year': 1972, 'pop': 15226039},
 {'country': 'Taiwan', 'year': 1973, 'pop': 15525588},
 {'country': 'Taiwan', 'year': 1974, 'pop': 15824103},
 {'country': 'Taiwan', 'year': 1975, 'pop': 16122188},
 {'country': 'Taiwan', 'year': 1976, 'pop': 16450056},
 {'country': 'Taiwan', 'year': 1977, 'pop': 16785196},
 {'country': 'Taiwan', 'year': 1978, 'pop': 17111535},
 {'country': 'Taiwan', 'year': 1979, 'pop': 17450136},
 {'country': 'Taiwan', 'year': 1980, 'pop': 17848320},
 {'country': 'Taiwan', 'year': 1981, 'pop': 18177430},
 {'country': 'Taiwan', 'year': 1982, 'pop': 18501390},
 {'country': 'Taiwan', 'year': 1983, 'pop': 18803390},
 {'country': 'Taiwan', 'year': 1984, 'pop': 19083348},
 {'country': 'Taiwan', 'year': 1985, 'pop': 19337363},
 {'country': 'Taiwan', 'year': 1986, 'pop': 19555581},
 {'country': 'Taiwan', 'year': 1987, 'pop': 19757799},
 {'country': 'Taiwan', 'year': 1988, 'pop': 19976096},
 {'country': 'Taiwan', 'year': 1989, 'pop': 20207541},
 {'country': 'Taiwan', 'year': 1990, 'pop': 20278957},
 {'country': 'Taiwan', 'year': 1991, 'pop': 20492997},
 {'country': 'Taiwan', 'year': 1992, 'pop': 20686918},
 {'country': 'Taiwan', 'year': 1993, 'pop': 20883467},
 {'country': 'Taiwan', 'year': 1994, 'pop': 21087873},
 {'country': 'Taiwan', 'year': 1995, 'pop': 21282829},
 {'country': 'Taiwan', 'year': 1996, 'pop': 21448723},
 {'country': 'Taiwan', 'year': 1997, 'pop': 21628605},
 {'country': 'Taiwan', 'year': 1998, 'pop': 21823024},
 {'country': 'Taiwan', 'year': 1999, 'pop': 21993460},
 {'country': 'Taiwan', 'year': 2000, 'pop': 22151237},
 {'country': 'Taiwan', 'year': 2001, 'pop': 22303700},
 {'country': 'Taiwan', 'year': 2002, 'pop': 22454239},
 {'country': 'Taiwan', 'year': 2003, 'pop': 22603000},
 {'country': 'Taiwan', 'year': 2004, 'pop': 22749838},
 {'country': 'Taiwan', 'year': 2005, 'pop': 22894384},
 {'country': 'Taiwan', 'year': 2006, 'pop': 23036087},
 {'country': 'Taiwan', 'year': 2007, 'pop': 23174294}]

In [ ]:
df.to_dict(orient='records')